	body{background-color: black;
    background-image: url(img/SWB.jpg);
    background-size:cover;
    color: #00e600; }

button {width:100px;
        border:2px solid black;
        border-radius :15px;
        padding:5px;}